* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Light.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Medium.ttf);
  font-weight: 500;
}

.container {
  padding: 0 255px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../image/main.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-nav a {
  color: #051439;
  font-weight: 600;
  font-size: 18px;
}

.header-icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}

.banner-txt h1 {
  font-size: 80px;
  color: #051439;
  font-weight: 700;
}

.banner-txt h2 {
  font-size: 80px;
  color: #22aed1;
  font-weight: 700;
  margin-top: 10px;
}

.banner-txt p {
  font-size: 20px;
  font-weight: 500;
  width: 570px;
  text-align: center;
  margin-top: 10px;
  color: #051439;
}

.banner-btn a {
  border: 1px solid #ff5b35;
  background-color: #ff5b35;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 20px;
}

.banner-btn {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.about {
  display: flex;
  flex-direction: column;
}
.about h1 {
  font-size: 60px;
  font-weight: 700;
  color: #051439;
  margin-bottom: 30px;
}

.about-items {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-txt {
  display: flex;
  flex-direction: column;
}

.about-txt p {
  color: #051439;
  font-size: 18px;
  width: 560px;
  margin-top: 20px;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.cat-img img {
  height: 217px;
  margin-top: 10px;
}

.child {
  border: 1px solid #f3e5f4;
  background-color: #f3e5f4;
  height: 400px;
  width: 376px;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.child h3,
.old h3,
.family h3 {
  display: flex;
  flex-direction: column;
  color: #051439;
  font-size: 24px;
  font-weight: 700;
}

.child p,
.old p,
.family p {
  font-size: 16px;
  font-weight: 500;
  color: #051439;
  width: 306px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.old {
  border: 1px solid #daf3f5;
  background-color: #daf3f5;
  height: 400px;
  width: 376px;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.family {
  border: 1px solid #f6eed1;
  background-color: #f6eed1;
  height: 400px;
  width: 376px;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.cat-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bb {
  margin-top: 100px;
  padding: 150px 0;
  background-color: #f0f0eb;
  border-radius: 150px;
}

.bb-text {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

}

.bb-text h1 {
  color: #051439;
  font-size: 60px;
  font-weight: 700;
}

.bb-text p {
  font-size: 18px;
  color: #051439;
  width: 490px;
  font-weight: 500;
}

.bb-img img {
  height: 140px;
}

.bb-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}

.top-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-txt h1 {
  font-size: 72px;
  font-weight: 700;
  color: #051439;
}

.top-txt h2 {
  font-size: 72px;
  font-weight: 700;
  color: #051439;
}

.up-img {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.down-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sales {
  background: url(../image/sale/photo.png) no-repeat center;
  background-size: cover;
  height: 560px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.sales-items {
  display: flex;
  margin-top: 100px;
}

.sales-text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.sales-text h1 {
  color: #051439;
  font-size: 60px;
  font-weight: 600;
}
.sales-text h2 {
  color: #051439;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 10px;
}

.sales-text p {
  color: #051439;
  font-size: 18px;
  font-weight: 500;
}

.sales-btn a {
  border: 1px solid #ff5b35;
  background-color: #ff5b35;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 50px;
  border-radius: 20px;
}

.sales-btn {
  margin-top: 70px;
}

.product {
  margin-top: 100px;
}

.product-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.product-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-cont {
  display: flex;
  gap: 30px;
}
.product-icon-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  border-radius: 20px;
  background-color: #bcf2ff;
}
.product-icon-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-icon-2 h3 {
  font-size: 18px;
  color: #051439;
}

.product-icon-2 h3 {
  font-size: 18px;
  color: #051439;
}

.product-txt {
  margin-top: 30px;
}
.product-zag h1 {
  font-size: 60px;
  color: #051439;
}
.product-text {
  line-height: 1.5;
  margin-right: 200px;
  color: #051439;
  margin-top: 10px;
}
.product-about {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}
.product-about-1 {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-price {
  margin-top: 20px;
  display: flex;
  gap: 100px;
  align-items: center;
}
.product-price h2 {
  font-size: 40px;
  color: #051439;
}
.product-btn a {
  font-weight: 600;
  color: #e8e7df;
  background-color: rgb(255, 81, 0);
  padding: 20px 50px;
  border-radius: 20px;
}

.description {
  margin-top: 30px;
}

.description-items {
  display: flex;
  flex-direction: column;
}
.description-navigation {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  align-items: center;
  display: flex;
  font-weight: 600;
  color: #051439;
  background-color: #f0f0eb;
  width: 42%;
  border-radius: 30px;
}
.description-nav-active {
  padding: 15px 55px;
  background-color: rgb(255, 196, 0);
  border-radius: 20px;
}
.description-nav-active a{
    color: #051439;
}
.description-nav a{
    color: #051439;
}
.description-nav {
  padding-right: 30px;
}
.description-txt {
  width: 569px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description-txt p{
    font-size: 18px;
    font-weight: 400;
    color: #051439;
}


.form { 
    background: url(../image/form/bg.png);  
    margin-top: 100px; 
} 
 
.form-items { 
    padding-bottom: 100px; 
    padding-top: 250px; 
    display: flex; 
    justify-content: space-between; 
} 
 
.form-zag h1{ 
    font-size: 60px; 
    color: #051439; 
    width: 50%; 
} 
.form-text { 
    margin-top: 10px; 
    width: 50%; 
} 
.form-img { 
    margin-top: 30px; 
} 
 
.form-input { 
    margin-right: 100px; 
} 
.form-form { 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
} 
 
.form-placeholder p{ 
    padding: 10px; 
} 
.form-place input { 
    width: 500px; 
    padding: 15px 20px; 
    border-radius: 15px; 
    border: 1px solid #232323; 
    background-color: transparent; 
} 
 
.level{ 
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    margin-top: 30px; 
} 
 
.level-txt p{ 
    font-size: 20px; 
} 
.level-change { 
    display: flex; 
    gap: 20px; 
} 
.level-inp { 
    display: flex; 
    gap: 5px; 
} 
 
.level-inp input{ 
    background-color: transparent; 
    width: 20px; 
} 
.accept { 
    margin-top: 30px; 
    display: flex; 
    gap: 7px; 
} 
 
.accept input{ 
    width: 15px; 
} 
.form-btn a{ 
    font-weight: 600; 
    color: #e8e7df; 
    background-color: rgb(255, 81, 0); 
    padding: 20px 50px; 
    border-radius: 20px; 
} 
 
.form-btn{ 
    margin-top: 70px; 
}

footer{
    display: flex;
    flex-direction: row;
    background-color:#e8e7df;
    justify-content: space-between;
}

.footer-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    gap: 300px;
}


.footer-politic a{
    color: #051439;
}
